

@font-face {
  font-family: PressStart2P-Regular;
  src: url('../fonts/PressStart2P-Regular.ttf') format('tff');

}

@font-face {
  font-family: ADDLG;
  src: url('../fonts/ADDLG.tff');
  font-weight: 800;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
}

/***********************************************/
/* Header */

.header-container {
  width: 100%;
  height: 100px;
}

.logoaaue-header {
  margin-left: 80px;
  margin-top:10px;
  height: 80px;
  width: auto;
}

.texto-header {
	margin-top: 10px;
    font-family: 'Press Start 2P', cursive;
}

.botoes-header {
  float: right;
  margin-right: 20px;
  display: table;
  height: 100%;
}

.hvr-fade {
  line-height: 70px;
  font-size: 17px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  margin: auto;
  display: table-cell;
  width: 180px;
  height: 100px;
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  color: black;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-pusher, .site-container {
  height: 100%;
}
.moldura-geral{
  margin-right: 5%;
  margin-left: 5%;
  border-color: black;
  border-width: 3px;
  border-style: solid;
}

.moldura-precario{
  margin-right: 5%;
  margin-left: 5%;
  border-color: white;
  border-width: 3px;
  border-style: solid;
}

.moldura-baixo{
  border: 0px;
  border-top-width: 2px;
  border-style: solid;
  border-top-color: white;
}


/* RESPONSIVE */
@media only screen and (max-width: 800px) {


  #counter {
    font-size: 17px !important;
  }

  .site-pusher {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  .icone-header {
    display:flex;
    justify-content:center;
    align-items:center;
    float: left;
    width: 100px;
    height: 100%;
    cursor: pointer;
  }

  .icone-header:after {
    content: '';
    width: 2rem;
    height: 0;
    box-shadow: 0 -9px 0 2px #fff, 0 0.5px 0 2px #fff, 0 10px 0 2px #fff;
  }

  .botoes-header {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }

  iframe {
    width: 400px !important;
    height: 250px !important;
  }

  .botoes-header a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid white;
  }

  .header-container a img{
    display: none;
  }

  .with--sidebar .site-pusher {
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .header-container {
    height: 50px;
  }
}

@media only screen and (max-width: 430px) {
  iframe {
    width: 200px !important;
    height: 200px !important;
  }

  .texto-mapa {
    font-size: 15px;
  }
}

@media only screen and (max-width: 365px) {
  #counter {
    font-size: 10px !important;
  }
}

/***********************************************/
/* Footer */

.footer-container {
  margin: 0;
  width: 100%;
  height: 100px;

}
.moldura-footer0 {
  border-style: solid;
  border-bottom-width: 2px ;
  border-top-width: 2px ;
  border-right-width: 3px;
  border-left-width: 3px;
  border-color: black;
}

.moldura-footer1 {
  border-style: solid;
  border-bottom-width: 3px ;
  border-top-width: 3px ;
  border-right-width: 7px;
  border-left-width: 7px;
  border-color: white;
}

.moldura-footer2 {
  border-style: solid;
  border-bottom-width: 3px ;
  border-top-width: 3px ;
  border-right-width: 5px;
  border-left-width: 5px;
  border-color: black ;
}

.moldura-footer3 {
  border-style: solid;
  border-bottom-width: 5px ;
  border-top-width: 5px ;
  border-right-width: 8px;
  border-left-width: 8px;
  border-color: #6d2e4c;
}

.logoaaue-footer {
  margin-left: 2%;
  margin-top: 6%;
  height: 60px;
  width: auto;
  float: left;
}

.texto-footer {
  margin-top: 20px;
  text-align: center;
}

.logofacebook {
  margin-left: 0px;
  margin-top:5px;
  height: 30px;
  width: auto;
}

.logoinstagram {
  margin-left: 20px;
  margin-top:5px;
  height: 30px;
  width: auto;
}

.redes-sociais {
  float: right;
  position: relative;
}

.redes-sociais-container {
  margin-top:20px;
  padding-right: 70px;
}

/***********************************************/
/* Homepage  */

#counter {
  padding-top: 50px;
  height: 40%;
  font-size: 30px;
  text-align: center;
}

iframe {
  width: 600px;
  height: 450px;
}

.container-mapa{
  display: flex;
	justify-content: center;
	align-items: center;
  padding: 0;
  margin: 0;
}

.texto-mapa{
	color: white;
}

/***********************************************/
/* Preçário */

.precos-logoqueima {
  margin-top: 55%;
  margin-left: 8%;
  margin-bottom: 15%;
  height: 90%;
  width: 95%;
}

.precos-imgpassesgerais {
  margin-top: 25%;
  margin-left: 2%;
  margin-bottom: 15%;
  height: 90%;
  width: 90%;
}


.precos-passesgerais {
  text-align: center;

}

.precos-passesdiarios {
  text-align: center;
  margin-top: 8%;
  border-left: 7px solid yellow;
  height: 100%;
  margin-left: 0%;
  margin-right: 0%;
  padding-bottom: 5%;
}

.precos-notas {
  text-align: left;
  margin-left: 5%;
}

/***********************************************/
/* Cartaz */

.cartaz-container {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
